/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-container {
  z-index: 2100!important;
}

.ck-content {
    width: 816px;
    min-height: 528px;
    max-height: 528px;

    margin: 0 auto;
    padding: 20px;

    background: white;
    border: 2px dashed #d1d5db;
}